<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icon.ico">
    <title>{% block title %}Vinicius Ferreira{% endblock %}</title>
    <script src="https://unpkg.com/scrollreveal"></script>

</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <main class="pagina-inicial">
        <div class="pagina-inicial-container">
            <div class="apresentacao">
                <h1 onclick="animacao1()" id="nome-titulo">Oi, eu sou Vinicius Ferreira</h1>
                <div class="line-titulo"></div>
                <h2>Desenvolvedor Web</h2>
            </div>
            <div class="apresentacao-button">
                <a class="btn fourth" href="{{ url_for('portfolio') }}">Meu Portfólio<img src="../static/image/portifolio.png" alt=""></a>
                <a class="btn fourth" href="{{ url_for('download_cv') }}" download="Curriculo_Vinicius_Ferreira.pdf">Baixar CV <img src="../static/image/baixar.png" alt=""></a>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>