<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icon.ico">
    <title>{% block title %}Vinicius Ferreira{% endblock %}</title>
    <script src="https://unpkg.com/scrollreveal"></script>

  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <main class="portfolio">
      <div class="portfolio-titulo">
        <h3>Meus trabalhos recentes</h3>
        <p>
          Confira abaixo uma seleção dos meus projetos mais recentes e projetos
          em que tenho trabalhado. Cada projeto representa um desafio único e
          uma oportunidade de aprendizado, e estou sempre em busca de novas
          experiências e colaborações. Espero que você goste do que vê!
        </p>
      </div>
      <div class="selecionar-portfolios">
        <button class="porfolios-btn btn fourth">Portfólios</button>
        <button class="jogos-btn btn fourth">Jogos</button>
        <button class="servicos-btn btn fourth">Sistema de serviços</button>
        <button class="instituicao-btn btn fourth">Sites Institucionais</button>
      </div>
      <div class="tipos-portfolios">
        <div class="portfolios-box">
          <div class="vitrine">
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img1.png" alt="" />
              </div>
              <div class="vitrine-txt">
                <h5>Portfólio para apresentação</h5>
                <p>
                  Este é um exemplo de portfólio criado com HTML, CSS e
                  JavaScript, projetado para destacar minha experiência e
                  habilidades. Apresentando uma seleção dos meus conhecimentos e
                  formações.
                </p>
                <a target="_blank" class="btn fourth" href="https://viniciusferreira.netlify.app/">Ver site </a>
              </div>
            </div>
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img2.png" alt="" />
              </div>
              <div class="vitrine-txt">
                <h5>Portfólio padrão</h5>
                <p>
                  Portfólio padrão criado com HTML, CSS e JavaScript, usado
                  inicialmente como meu portfólio, foi projetado para apresentar
                  os meus sites
                </p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://viniciusferreiraportfolio.netlify.app/"
                  >Ver site
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="jogos-box">
          <div class="vitrine">
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img3.png" alt="" />
              </div>
              <div class="vitrine-txt">
                <h5>Jogo do Mario</h5>
                <p>
                  Primeira incursão no desenvolvimento de jogos, utilizando
                  JavaScript para reconhecer e responder às teclas do teclado.
                </p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://jogodomario.netlify.app/"
                  >Ver site
                </a>
              </div>
            </div>
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img4.png" alt="" />
              </div>
              <div class="vitrine-txt">
                <h5>Pokédex</h5>
                <p>
                  Desenvolvimento de uma Pokédex interativa que utiliza uma API
                  para pesquisa e exibição do Pokémon.
                </p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://gamepokedex.netlify.app/"
                  >Ver site
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="servicos-box">
          <div class="vitrine">
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img5.png" alt="" />
              </div>
              <div class="vitrine-txt sistema">
                <h5>Sistema de reprografia</h5>
                <p>
                  Sistema abrangente para solicitações e gestão de reprografia, 
                  desenvolvido com HTML, CSS, JavaScript, SQL e Python. Os usuários 
                  podem aprovar ou negar pedidos, alterar entre diferentes perfis, 
                  gerenciar solicitações por meio de relatórios e muito mais.
                </p>
                <h4>Acesse pelo login:</h4>
                <p style="color: white;" >Login: administrador</p>
                <p style="color: white;" >Senha: Br@sil1234</p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://reprografia.up.railway.app/login"
                  >Ver site
                </a>
              </div>
            </div>
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img6.png" alt="" />
              </div>
              <div class="vitrine-txt sistema">
                <h5>Sistema de avaliação de filmes</h5>
                <p>
                  Descubra, avalie e compartilhe suas opiniões sobre filmes! Nosso sistema, 
                  desenvolvido com HTML, CSS, JavaScript, Python e SQL, é o lugar ideal para 
                  encontrar informações e críticas sobre seus filmes favoritos. 
                  Explore recomendações personalizadas e mergulhe no mundo do cinema conosco
                </p>
                <h4>Acesse pelo login:</h4>
                <p style="color: white;" >Login: convidado@yopmail.com</p>
                <p style="color: white;" >Senha: Brasil@1234</p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://pegavisao.up.railway.app/home"
                  >Ver site
                </a>
              </div>
            </div>
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img9.png" alt="" />
              </div>
              <div class="vitrine-txt">
                <h5>Sistema filmes</h5>
                <p>
                  Este site utiliza uma API de filmes para apresentar informações detalhadas 
                  sobre orçamento, faturamento, duração e sinopse dos principais filmes da atualidade.
                </p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://cartaxfilmes.netlify.app/"
                  >Ver site
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="instituicao-box">
          <div class="vitrine">
            <div class="vitrine-box ">
              <div class="vitrine-img">
                <img src="../static/image/img8.png" alt="" />
              </div>
              <div class="vitrine-txt sistema2">
                <h5>Site de clínica medica</h5>
                <p>
                  Este projeto destaca um site empresarial para consultas médicas, 
                  desenvolvido de forma responsiva para garantir uma experiência 
                  consistente em todos os dispositivos. Utilizando HTML, CSS e JavaScript, 
                  projetado para atender às necessidades de uma clínica médica moderna. 
                </p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://clinicahealthmedical.netlify.app/"
                  >Ver site
                </a>
              </div>
            </div>
            <div class="vitrine-box">
              <div class="vitrine-img">
                <img src="../static/image/img7.png" alt="" />
              </div>
              <div class="vitrine-txt">
                <h5>Site de veiculos</h5>
                <p>
                  Um dos meus primeiros projetos web, este site apresenta uma abordagem 
                  nostálgica com seu design retro. 
                  Desenvolvido apenas com HTML e CSS, ele exibe uma seleção de carros 
                  disponíveis para venda.
                </p>
                <a
                  target="_blank"
                  class="btn fourth"
                  href="https://rmveiculoscurso.netlify.app/"
                  >Ver site
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
